# Dependencies
node_modules/
.pnpm-store/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment Variables
.env
.env.*
!.env.example

# OS stuff
.DS_Store
Thumbs.db

# IDE stuff
.vscode/
.idea/
*.swp
*.swo

# Build/Dist
dist/
build/
.next/
out/

# Firebase stuff
.firebase/
firebase-debug.log
firestore-debug.log
pubsub-debug.log

# Temporary files
/tmp/
*.log
